body{
  background-color: black;
  color:white;
}
.sidebar{
    background-color: black;
    color: white;
    border:  1px solid black;
    outline:  0;
    float: left;
    margin-top: 50px;
    margin-left: 6%;
    font-size: 26px;
    
}
.Box{
  width: 100%;
  height: 100%;
  background-color:rgb(15, 14, 14);
  color :white;
  left: 0;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  transition: 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);
 
}
.sidebar:hover{
  cursor: pointer;
}

.myImg{
  width: 200px ;
  height :200px;
 border-radius:50% 50% ;
 margin-top: 170px;
 
}
.time{
  transition:2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
